/*
			CSS - Cascade Style Sheet (Каскадные таблицы стилей)
			style
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
	padding:0px 48px;
	font-size: 24px;
	font-family: Roboto Condensed;
	/*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

p
{
	text-align: justify;
}
	p::first-letter
	{
		margin-left:85px;
		font-family:'Segoe Script';
		font-size:32px;
		/*font-style:italic;*/
	}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
	font-weight: 300;
}
.citation
{
	border-left: solid 4px #1919a5;
	margin: 32px 0 32px 32px;
	padding-left:32px;
	/*padding: 32px;*/ /*Такой padding применяется со всех сторон*/
	/*padding:0px 32px;0 - верх/низ, 32px - лево/право*/
	/*padding: 0px 32px 64px;	0 - верх, 32px - лево/право, 64px - низ*/
	/*padding:0px 32px 64px 128px;*/ /*По часовой стрелке начиная сверху*/

	/*padding-left:32px;
	padding-right:32px;
	padding-top:32px;
	padding-bottom:32px;*/
}