/*
			CSS - Cascade Style Sheet (Каскадные таблицы стилей)
			style
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
	font-size: 24px;
	font-family: Roboto Condensed;
	/*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

p
{
	text-align: justify;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
	font-weight: 300;
}