body
{
	background-image:url("img/bliss.jpg");
	background-size:cover;
}
.main-window
{
	/*border:solid 1px;*/
	width:400px;
	height:300px;
}
.title-bar
{
	height:38px;
	/*background-color:blue;*/
	color:white;

	font-family:Tahoma;

	display:flex;
	justify-content:space-between;	/*Выравнивание по горизонтали*/
	align-items:center;	/*Выравнивание по вертикали	*/
	padding: 0px 5px;

	border-top-left-radius:8px;
	border-top-right-radius:8px;

	background-image:linear-gradient(to bottom,
		rgb(50, 140, 250),
		rgb(50, 140, 250),
		rgb(3, 92, 230), 
		rgb(3, 92, 230), 
		rgb(3, 92, 230), 
		rgb(3, 92, 230), 
		rgb(4, 107, 255),
		rgb(4, 107, 255),
		rgb(4, 107, 255),
		rgb(4, 107, 255)
	);
	box-shadow:inset -2px 0px 8px 0px darkblue;
}
.iconsm
{
	width:28px;
	height:28px;
}
.icon-and-title
{
	display:flex;
	align-items:center;
}
.title-bar-window-control-buttons
{
	padding: 0px 3px;
	/*width: 104px;*/
	padding:1px;
}
.title-bar-window-control-buttons/*, .control-button*/
{
	display:flex;
	justify-content:center;
	align-items:center;
	/*padding-top:4px;*/
	/*border-bottom:solid 1px;*/
}
.control-button
{
	width:28px;
	height:28px;
	font-size:24px;
	/*padding:-5px 2px;*/
	margin:0px 2px;
}
.close-button
{
}
.control-button-signature
{
	margin-left:-8px;
	margin-top:-8px;
	/*margin:-5px;*/
}
.close-button-signature
{
	margin: -5px 0 0 -3px;
}

.client-rect
{
	/*background-color:rgb(235, 233, 216);*/
	background-color:#EAE8D8;
	height:262px;
}